extends layout

block content
  #titlebox
    h1 mark macdonald
    p My home on the web.
    ul
      // li.li-horizontal: a(href='/blog') writing
      li.li-horizontal: a(href='https://github.com/mosse') code
      li.li-horizontal: a(href='https://twitter.com/markofmac') tweets


