html { 
  background: url(../images/background-mid.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 50px;
  font-size: 20px;
  color: #1F333E;
}

a {
  color: #1997AD;
  text-decoration: none;
}

a:hover {
  color: #67919E;
  text-decoration: none;
}

h1 {
  font-size: 3em;
  font-weight: lighter;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.5em;
  font-weight: lighter;
}

p {
  font-size: .5em;
}

#titlebox {
  text-align: center;
  margin: 0 auto;
}

ul {
  padding: 0;
}

.li-horizontal {
  display: inline;
  list-style-type: none;
  padding: 0.5em;
  font-size: 1em;
  font-variant: small-caps;

}

.li-horizontal:hover {
  display: inline;
  list-style-type: none;
  padding: 0.5em;
  font-size: 1em;
  font-variant: small-caps;
}